---
layout: page
title: Venari
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">A Geospatial Software Development Consultancy</h1>
          <p class="animated fadeInUp">Expert and impartial, we aim to deliver the best integrated solutions to match your needs</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Carousel Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
          {% if site.data.frontpageCarousel.size > 0 %}
          <div class="frontpage-carousel">
            <div id="frontpage-example-slider" class="owl-carousel">
              {% for tm in site.data.frontpageCarousel %}
              <div>
                  <!-- <img src="img/cotation.png" alt="IMG"> -->
                  <p>{{ tm.title }}</p>
                  <div class="example">
                    <img src="{{ tm.image }}" alt="{{tm.altText}}">
                    <p><span>{{ tm.description }}</p>
                  </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
      </div>
    </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-fork-repo"></i>
          <h4>Software Development</h4>
          <p>From customisation of your tools to bespoke systems development</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i> <!-- rocket -->
          <h4>Business Analysis</h4>
          <p>Working with you to understand your business needs & streamline processes</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-code-working"></i>
          <h4>Systems Integration</h4>
          <p>Integrating your enterpise backend systems and spatial & traditional data</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-bolt"></i>
          <h4>Systems Modernisation</h4>
          <p>Migration of legacy monolithic systems to micro-services architecture</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-alert-circled"></i> <!--ion-ios-medkit--> <!--Visualise ion-ios-speedometer-->
          <h4>Troubleshooting</h4>
          <p>We love complicated problems!</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-lightbulb"></i>
          <h4>Expert Advice</h4>
          <p>We offer impartial, honest guidance </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-android-contacts"></i> <!--ion-ios-people-->
          <h4>Mentoring</h4>
          <p>Use our experience to develop your company's skill sets </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-cog"></i> <!--ion-ios-pulse-->
          <h4>Support</h4>
          <p>We'll help your systems run<br> smoothly & flexibly </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Talk to us about how we can help your business.</h2>
          <p>We would love to hear more about your business requirements and explore possible solutions with you. </p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Talk to us</a>
        </div>
      </div>
    </div>
  </div>
</section>
